.cart {
  padding  : 16px;
  margin   : 0 auto;
  max-width: 1298px;
  flex     : 1
}

.cart-title {
  margin-bottom: 24px
}

.cart-items {
  display       : flex;
  flex-direction: column;
  gap           : 16px
}

.cart-item {
  display         : flex;
  justify-content : space-between;
  align-items     : center;
  gap             : 16px;
  background-color: #fff;
  padding         : 16px;
  border-radius   : 8px;
  box-shadow      : 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom   : 16px
}

.cart-link {
  color          : #333;
  width          : 100%;
  text-decoration: none;
  display        : flex;
  justify-content: space-between;
  gap            : 24px
}

.container-cart-image {
  width          : 120px;
  height         : 120px;
  display        : flex;
  align-items    : center;
  justify-content: center
}

.cart-item img {
  width     : 100%;
  height    : 100%;
  object-fit: contain
}

.cart-details {
  width: 80%
}

.cart-item-info {
  flex-grow   : 1;
  padding-left: 16px
}

.cart-item button {
  background-color: #ff4c4c;
  color           : white;
  border          : none;
  padding         : 8px 16px;
  border-radius   : 4px;
  cursor          : pointer;
  margin-top      : 16px
}

.cart-item button:hover {
  background-color: #e20000
}

.cart-empty {
  margin-top: 24px;
  text-align: center;
  flex      : 1
}

.cart-total {
  text-align : right;
  margin-top : 32px;
  padding-top: 16px;
  border-top : 1px solid #ddd
}

.pay-button {
  background-color: #ff4c4c;
  color           : white;
  border          : none;
  padding         : 12px 24px;
  font-size       : 16px;
  border-radius   : 5px;
  cursor          : pointer;
  margin-top      : 16px;
  transition      : background-color 0.3s ease
}

.pay-button:hover {
  background-color: #e20000
}

.cart-paid-message {
  text-align: center;
  font-size : 24px;
  padding   : 32px;
  color     : green;
  flex      : 1
}